# common
.vscode

# pub
.dart_tool/
.packages
build/
pubspec.lock

# api doc
doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# macOS
.DS_Store

# Windows
windows/deps/include/*
windows/deps/lib/*
example/windows/flutter/generated_plugins.cmake
example/windows/flutter/generated_plugin_registrant.cc
example/windows/flutter/generated_plugin_registrant.h
