<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="im.zego.zego_express_engine">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

  <application>
    <activity
        android:name="im.zego.internal.screencapture.ZegoScreenCaptureManager$ZegoScreenCaptureAssistantActivity"
        android:exported="false"
        android:configChanges="screenSize|orientation"
        android:screenOrientation="fullUser"
        android:theme="@android:style/Theme.Translucent" />
    <service
        android:name="im.zego.internal.screencapture.ZegoScreenCaptureService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="mediaProjection">
        <intent-filter>
            <action android:name="android.intent.action.screenshare" />
        </intent-filter>
    </service>
  </application>
</manifest>
